
/* Custom Styles */
/*.profile-picture {
    height: 295px;
    width: 295px;
    object-fit: cover;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.profilelbl {
    font: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}*/
