
/* Custom Styles */
/*.profile-picture {
    height: 295px;
    width: 295px;
    object-fit: cover;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

a {
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

    a:hover, a:focus {
        color: #D10024;
        text-decoration: none;
        outline: none;
    }

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/*filter aside Panel*/
aside div.aside {
    width: 100%;
}
.aside > .aside-title {
    text-transform: uppercase;
    font-size: 18px;
    margin: 15px 0px 30px;
}

.aside + .aside {
    margin-top: 30px;
}


.checkbox-filter .input-radio label, .checkbox-filter .form-check label {
    font-size: 14px;
}

.input-radio label, .form-check label {
    font-weight: 500;
    min-height: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}


body {
    background-color: Black;
}

div.upload {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    padding: 3px 40px 3px 3px;
    position: relative;
    width: auto;
}

    div.upload:hover {
        opacity: 0.95;
    }

    div.upload input[type="file"] {
        display: input-block;
        width: 100%;
        height: 30px;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
    }

.uploadButton {
    background-color: #425F9C;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    width: auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.fileName {
    font-family: Arial;
    font-size: 14px;
}

.upload + .uploadButton {
    height: 38px;
}