
@model Category
@{
    ViewData["Title"] = "getCategoryById";
}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/@Model.picture" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">
        @Model.Description
        </p>
  </div>
  
  <div class="card-body">
    <a href="/category/getCategories" class="card-link">view all</a>
  </div>
</div>

