<aside class="d-flex flex-column gap-3">
    <!-- Categories aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Categories</h3>
        <div class="checkbox-filter">

            <div class="input-checkbox form-check">
                <input class="form-check-input" type="checkbox" value="" id="category-1">
                <label class="form-check-label" for="category-1">
                    <span class="d-flex align-items-center flex-nowrap">
                    Laptops
                    <small class="ml-1">(120)</small>
                    </span>
                </label>
            </div>

        </div>
    </div>
    <!-- /aside Widget -->
    <!-- Price aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Price</h3>
        <div class="price-filter">
            <div class="d-flex align-items-center">
                <div class="input-group input-group-sm">
                <span class="input-group-text h">$</span>
                <input type="number" min="1.00" max="10000.00" value="1.00" class="form-control" />
                </div>
                <span>-</span>
                <div class="input-group input-group-sm">
                <span class="input-group-text">$</span>
                <input type="number" min="1.00" max="1000.00" value="9999.99" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->
    <!-- Brand aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Brand</h3>
        <div class="checkbox-filter">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="brand-1">
                <label class="form-check-label" for="brand-1">
                    <span class="d-flex align-items-center flex-nowrap">
                    SAMSUNG
                    <small class="ml-1">(578)</small>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->
</aside>