<div class="row mt-5">
	<div class="col-md-6 offset-3 alert alert-success text-success">
		<h2>Order Completed Done</h2>
		<p  class="text-center"> Thank You</p>
	</div>
	
</div>
<div>
	<button class="btn btn-secondary offset-3" ><a asp-controller="products" asp-action="GetAllProducts" >Back TO List</a> </button>
</div>