@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
   <p>
        Please check your email to confirm your account. <i class="bi bi-send-check-fill"></i>
   </p>
}
