@using Microsoft.AspNetCore.Identity
@using Project_ASP.Net.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" />
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
        {
            <li class="nav-item">
                <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" style="height: 40px;width: 40px;object-fit: cover;"/>
            </li>
        }
    <li class="nav-item">
        <a  class="nav-link text-light" class="nav-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item" style="margin-left:10px;margin-top:0px;">
        <form  class="form-inline text-light" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-danger">Logout <i style="margin:0px;" class="bi bi-box-arrow-right"></i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
<ul class="header-links pull-right">
						
				@if (User.IsInRole("User") == true)
				{
					<li><a class="dropdown-item" asp-controller="Orders" asp-action="OrderList"><i class="bi bi-list" ></i> <b style="font-size : 15px">Orders</b></a></li>
				}

						@if(User.IsInRole("Admin")==true)
						{
							<li><a asp-controller="Role" asp-action="Create"><i ></i> <b style="font-size : 15px">Create Roles</b></a></li>
						<li><a asp-controller="Register" asp-action="AddAdmin"><i class="fa fa-user-o"></i> <b style="font-size : 15px">Add Admin</b></a></li>
						}
					</ul>


