@model Project_ASP.Net.ViewModel.ProductViewModel
@{
	ViewData["Title"] = "AddProduct";
	SelectList categoryList = new SelectList(ViewBag.CategoryList, "Cat_Id", "Name");
}
<div class="container">
<h2>AddProduct</h2>

<h4>Product</h4>
<hr />
<div class="row">
	<div class="col-md-4">
	   <form method="post" asp-action="AddProduct" enctype="multipart/form-data">
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Brand" class="control-label"></label>
				<input asp-for="Brand" class="form-control" />
				<span asp-validation-for="Brand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Unit_Price" class="control-label"></label>
				<input asp-for="Unit_Price" value="0" class="form-control" />
				<span asp-validation-for="Unit_Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
							<br />
							<textarea asp-for="Description" style="width:400px;height:200px"></textarea>
							<br />

							<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Stock" class="control-label"></label>
				<input asp-for="Stock" value="0" class="form-control" />
				<span asp-validation-for="Stock" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="image" class="control-label"></label>
				<input type="file" asp-for="image" class="input--style-4" />
			<span asp-validation-for="image" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Discount" class="control-label"></label>
				<input asp-for="Discount" value="0" class="form-control" />
				<span asp-validation-for="Discount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cat_id" class="control-label"></label>
							<select asp-for="Cat_id" asp-items="categoryList" class="form-control" style="height:50px"></select>
							<span asp-validation-for="Cat_id" class="text-danger"></span>
			</div>
			<div class="form-group">
									<input type="submit" value="submit" class="form-control" style="font-size:15px;color:white;background-color:#D10024;height:50px; width:170px" />

			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
