@model Project_ASP.Net.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    SelectList categoryList=new SelectList(ViewBag.CategoryList,"Cat_Id","Name");
}

<h2>AddProduct</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"  asp-action="AddProduct">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Pro_Name" class="control-label"></label>
                <input asp-for="Pro_Name" class="form-control" />
                <span asp-validation-for="Pro_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Price" class="control-label"></label>
                <input asp-for="Unit_Price" class="form-control" />
                <span asp-validation-for="Unit_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSeller" class="control-label"></label>
                <input asp-for="NumSeller" class="form-control" />
                <span asp-validation-for="NumSeller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input  type="file" asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_id" class="control-label"></label>
                <select asp-for="cat_id" asp-items="categoryList"></select>
                <span asp-validation-for="cat_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-default" />
            </div>

           

        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllProducts" asp-controller="Products">Back to List</a>
</div>

