@model Project_ASP.Net.Models.Product
@{
	ViewData["Title"] = "EditProduct";
	SelectList categorylist = new SelectList(ViewBag.CategoryList, "Cat_Id", "Name");
}
   <div class="container-fluid">
<div class="row">
	<div class="col-md-4">
	   <form method="post" asp-action="EditProduct" enctype="multipart/form-data">
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Pro_Name" class="control-label"></label>
				<input asp-for="Pro_Name" class="form-control" />
				<span asp-validation-for="Pro_Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Product_Brand" class="control-label"></label>
				<input asp-for="Product_Brand" class="form-control" />
				<span asp-validation-for="Product_Brand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Unit_Price" class="control-label"></label>
				<input asp-for="Unit_Price"  class="form-control" />
				<span asp-validation-for="Unit_Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
							<br />
							<textarea asp-for="Description" style="width:400px;height:200px"></textarea>
							<br />

							<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Stock" class="control-label"></label>
				<input asp-for="Stock"  class="form-control" />
				<span asp-validation-for="Stock" class="text-danger"></span>
			</div>

			<div class="form-group">
				
							<label asp-for="image" class="control-label"></label>
							<img class="w-25 rounded" src="~/img/@Model.image" />
							<input type="text" asp-for="image" class="form-control input--style-4" />
							<span asp-validation-for="image" class="text-danger"></span>
						
			</div>
			<div class="form-group">
				<label asp-for="Discount" class="control-label"></label>
				<input asp-for="Discount"  class="form-control" />
				<span asp-validation-for="Discount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="cat_id" class="control-label"></label>
							<select asp-for="cat_id" asp-items="categorylist" class="form-control" style="height:50px"></select>
							<span asp-validation-for="cat_id" class="text-danger"></span>
			</div>
			<div class="form-group">
									<input type="submit" value="submit" class="form-control" style="font-size:15px;color:white;background-color:#D10024;height:50px; width:170px" />

			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

