@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Web.Common;
@model IEnumerable<Project_ASP.Net.Models.Product>
@{
    ViewData["Title"] = "GetAllProducts";
}
@if (User.IsInRole("Admin") == true){
<a class="btn btn-secondary mt-4 offset-5" href="/Products/AddProduct">Add New Product</a>
}
<div id="store" class="col-md-12">
<div class="row">
@foreach (Product item in Model)
{
 <div class="col-md-4 col-xs-6 mb-5">   
<partial name="_ProductCard" model="item"/>
  </div>
}
</div>
</div>
<div style="height:70px"></div>
@if (@Model.Count() >= 9)
{
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllProducts", new { page = page }),
new PagedListRenderOptions
{
DisplayItemSliceAndTotal = true,
ContainerDivClasses = new[] { "navigation" },
LiElementClasses = new[] { "page-item" },
PageClasses = new[] { "page-link" },
})}
else{
    <div>
        <a class="btn btn-primary" href="/Products/GetAllProducts?page=2">LastPage</a>
    </div>
}